In [1]:
# https://www.w3resource.com/python-exercises/pandas/index-dataframe.php

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
# Write a Pandas program to convert a dictionary to a Pandas series.

In [5]:
dict1 = {'a':100, 'b':200, 'c':300, 'd':400}
series = pd.Series(dict1)

In [6]:
series

a    100
b    200
c    300
d    400
dtype: int64

In [7]:
# Write a Pandas program to convert a NumPy array to a Pandas series.

In [8]:
arr1 = np.array([10 ,20, 30, 40, 50])

In [9]:
type(arr1)

numpy.ndarray

In [10]:
series_arr = pd.Series(arr1)

In [11]:
series_arr

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [12]:
# . Write a Pandas program to convert a given Series to an array.

In [13]:
arr_values = series.values

In [14]:
type(arr_values)

numpy.ndarray

In [15]:
# Write a Pandas program to sort a given Series.


series

series = pd.Series([100,200, 500, 300.12,400])

series

new_s = pd.Series(series).sort_values()

new_s

0    100.00
1    200.00
3    300.12
4    400.00
2    500.00
dtype: float64

In [16]:
#Write a Pandas program to add some data to an existing Series.

new_concat = pd.concat([series , pd.Series(['python', 600])] , ignore_index=True)

new_concat

0     100.0
1     200.0
2     500.0
3    300.12
4     400.0
5    python
6       600
dtype: object

In [21]:
np.random.randint(2,10,5)

array([4, 9, 5, 2, 5])

In [26]:
# Write a Pandas program to change the order of index of a given series.
s = pd.Series(data = np.random.randint(2,10,5), index=[chr(n + 64) for n in range(1,6)])

In [27]:
s

A    6
B    7
C    6
D    5
E    6
dtype: int64

In [ ]:
re_index = s.reindex(index=['B','A','C','D','E'])

In [ ]:
re_index

In [ ]:
    # program to find the positions of numbers that are multiples of 5 of a given series.
num_series = pd.Series(np.random.randint(1,30,9))


num_series

res = np.where(num_series % 5 == 0)

res

In [ ]:
# program convert the first and last character of each word to upper case in each word of a given series.
s = pd.Series(data = ['php', 'python', 'java', 'c#'])

s

new_s = s.map(lambda x : x[0].upper()+x[1:-1]+x[-1].upper())

new_s

In [ ]:
# Write a Pandas program to calculate the number of characters in each word in a given series.
new_count = s.map(lambda n : len(n))

new_count

In [ ]:
char_list = list('ABCDEFGHIJKLMNOP')
num_arra = list(range(1,8))
num_dict = dict(zip(char_list, num_arra))

In [ ]:
num_dict

In [ ]:
# Write a Pandas program to create a dataframe from a dictionary and display it.
# Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

dict1 = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df = pd.DataFrame(dict1)
df

In [ ]:
# Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(data = exam_data, index= labels)

In [ ]:
df

In [ ]:
# Write a Pandas program to get the first 3 rows of a given DataFrame.

In [ ]:
df.head(3)

In [ ]:
df[df['attempts'] > 2]

In [ ]:
df.query('attempts > 2 ')

In [ ]:
df[df.attempts > 2]

In [ ]:
# Write a Pandas program to count the number of rows and columns of a DataFrame.

In [ ]:
print(f"number of rows{len(df.axes[0])}")

In [ ]:
print(f"number of columns{len(df.axes[1])}")

In [ ]:
# Write a  Pandas program to select the rows where the score is missing, i.e. is NaN.

In [ ]:
df[df['score'].isnull()]

In [ ]:
# Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [ ]:
df.query('score >= 15 and score <= 20')

In [ ]:
print(df[df['score'].between(15, 20)])

In [ ]:
# Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [ ]:
df.query('attempts < 2 and score >15')

In [ ]:
# Write a  Pandas program to calculate the sum of the examination attempts by the students.

In [ ]:
df['attempts'].sum()

In [ ]:
# Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [ ]:
df.sort_values(by=['name','score'], ascending=[False, True])

In [ ]:
# Write a  Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [ ]:
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})

In [ ]:
df

In [ ]:
# Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.

In [ ]:
df['name'] = df['name'].replace('James', 'Suresh')

In [ ]:
df

In [ ]:
 # Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [ ]:
df.pop('attempts')
# df.drop('attempts', axis=1)

In [ ]:
df

In [ ]:
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color

In [ ]:
df

In [ ]:
# Write a  Pandas program to iterate over rows in a DataFrame.
exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]
df = pd.DataFrame(exam_data)
for index, row in df.iterrows():
    print(row['name'], row['score'])

In [ ]:
# Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})
g1 = df1.groupby(["city"]).size().reset_index(name='Number of people')
print(g1)

In [ ]:
# write a Pandas program to drop a list of rows from a specified DataFrame.
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print("Original DataFrame")
print(df)
print("New DataFrame after removing 2nd & 4th rows:")
df = df.drop(df.index[[2,4]])
print(df)

In [ ]:
# Write a Pandas program to get a list of a specified column of a DataFrame.

In [ ]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
col2_list = df["col2"].tolist()
print("Col2 of the DataFrame to list:")
print(col2_list)

In [ ]:
# Write a Pandas program to find the row for where the value of a given column is maximum.

In [ ]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("Row where col1 has maximum value:")
print(df['col1'].argmax())
print("Row where col2 has maximum value:")
print(df['col2'].argmax())
print("Row where col3 has maximum value:")
print(df['col3'].argmax())