In [1]:
# Level 1

In [2]:
# 1.Write a program to take two integer inputs from user and print sum and product of them.?

In [3]:
num1 = int(input("enter your first number :  "))
num2 = int(input("enter your second number: "))

res = num1 + num2

print(f"total sum of {num1} and {num2} is {res}")

enter your first number :   2
enter your second number:  4

total sum of 2 and 4 is 6

In [4]:
# 5.wap to to take input from user of your name and print it

In [11]:
name = input("enter your name here: ")
print(f"you name is {name}")

enter your name here:  as

you name is as

In [12]:
# level 2

In [13]:
# 1.Wap enter amount,rate and time and find the simple intrest.

In [14]:
# amount = int(input("enter your principle amount: "))
# interest_rate = int(input("enter you interest rate: "))
# time_yrs = int(input("enter your time in year : "))

amount = 1000
interest_rate = 6
time_yrs = 2

simple_interest = (amount * interest_rate * time_yrs) / 100

print("simple interest is {}".format(simple_interest))

simple interest is 120.0

In [15]:
# 2.Wap take five input and find average.

In [5]:
import random
n = [random.randint(1,10) for _ in range(5)]
print(n)
n1, n2, n3, n4, n5 = n
average = (n1 + n2 + n3 + n4 + n5) / len(n)

[9, 8, 5, 4, 1]

In [6]:
average

5.4

In [7]:
# Write a Java code to check if a number is positive or negative.

In [9]:
n = 2
if n == 0 or n > 1:
    print("{} is positive".format(n))
else: 
    print("{} is negative".format(n))

2 is positive

In [10]:
# Write a Java code to check if a number is even or odd.

In [11]:
n = 2
if n % 2 == 0:
    print(f"{n} is even")
else:
    print(f"{n} is odd")

2 is even

In [12]:
# Write a Java code to check if a year is a leap year.

In [21]:
l = lambda y : y % 4 == 0 and y % 100 != 0 or y % 400 == 0

In [24]:
l(1900)

False

In [27]:
 # Write a Java code to find the largest of three numbers.

In [25]:
n = [random.randint(1,80) for _ in range(100) ]

In [26]:
n

[4,
 75,
 52,
 44,
 33,
 75,
 32,
 21,
 53,
 15,
 2,
 49,
 13,
 25,
 19,
 21,
 49,
 39,
 74,
 25,
 24,
 63,
 24,
 2,
 36,
 63,
 53,
 67,
 17,
 20,
 76,
 1,
 44,
 9,
 62,
 42,
 19,
 10,
 64,
 9,
 55,
 18,
 20,
 79,
 79,
 68,
 72,
 35,
 25,
 61,
 50,
 78,
 21,
 40,
 14,
 73,
 36,
 20,
 2,
 7,
 45,
 56,
 50,
 54,
 30,
 17,
 2,
 17,
 47,
 70,
 37,
 31,
 6,
 50,
 42,
 51,
 72,
 57,
 48,
 8,
 31,
 20,
 1,
 18,
 41,
 41,
 25,
 71,
 42,
 80,
 65,
 46,
 48,
 63,
 15,
 21,
 57,
 71,
 27,
 43]

In [28]:
import pandas as pd

In [29]:
series = pd.Series(n)

In [30]:
series

0      4
1     75
2     52
3     44
4     33
      ..
95    21
96    57
97    71
98    27
99    43
Length: 100, dtype: int64

In [31]:
df = pd.DataFrame(series)

In [33]:
df

     0
0    4
1   75
2   52
3   44
4   33
..  ..
95  21
96  57
97  71
98  27
99  43

[100 rows x 1 columns]

In [34]:
largest_num = df.nlargest(3, columns=[0])

In [35]:
largest_num

     0
89  80
43  79
44  79

In [36]:
l = max(n)

In [37]:
l

80

In [38]:
# - Write a Java code to verify if a person is eligible to vote or not based on their age.

In [39]:
age = 18
if age > 17:
    print("you are eligible for voting")
else:
    print("you are not eligible for voting")

you are eligible for voting

In [40]:
# - Write a Java code to calculate the discount percentage based on the total purchase amount.

In [41]:
mark_price = 120
selling_price = 100

discount = mark_price - selling_price

per_dic = (discount/mark_price)*100

In [42]:
per_dic

16.666666666666664

In [43]:
# Write a Java code to calculate the electricity bill based on the units consumed.
''' 1 to 100 units – Rs. 10/unit
100 to 200 units – Rs. 15/unit
200 to 300 units – Rs. 20/unit
above 300 units – Rs. 25/unit
'''

' 1 to 100 units – Rs. 10/unit\n100 to 200 units – Rs. 15/unit\n200 to 300 units – Rs. 20/unit\nabove 300 units – Rs. 25/unit\n'

In [44]:
# myebill = int(input(enter you electcity bill amount here: ))
def mybill(unit):
    if unit <= 100:
        return unit * 10
    elif unit > 100 and unit <= 200:
        return (100 * 10)+ (100 - unit)* 15
    elif unit > 200 and unit <=300:
        return (100 * 10) + (100 * 15)+ (unit - 200) *20
    else:
        return (100 * 10) + (100 * 15)+ (100 * 20) + (unit - 100)* 25

In [48]:
print(mybill(250))

3500

In [49]:
# Q2.Write a Java program to find the sum of all even numbers between 1 and 100 using a while loop.

In [54]:
count = 0
sum = 0
while (count <= 100):
    if count % 2 == 0 :
        sum += count
    count +=1

In [55]:
sum

2550

In [57]:
# Q4.Develop a Java program to find the factorial of a number using a lambda.

In [67]:
fact = lambda n : n == 0 and 1 or n * fact(n-1)

In [69]:
fact(5)

120

In [70]:
# 5.Implement a Java program to check if a given number is an Armstrong number or not using while loop.

In [4]:
n =153
res = 0
temp = n
while(temp != 0):
    rem = temp % 10
    print(rem)
    res += rem * 10
    print(res)
    temp //= 10
    print(temp)
    print("######")
print("armstrong") if res == n else print("not armstrong")

3
30
15
5
80
1
1
90
0
not armstrong